


@media screen and (max-width: 576px) {
    header {
        padding: 20px;
        height: 90px;
    }
    header .logo {
        font-size: 2rem;
    }
    .desk-item {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    /* hero styles */
    .hero-section {
        height: auto;
        background-position: center 20%;
        background-size: contain;
        padding: 20px;
        gap: 24px;
    }
    .hero-image {
        width: 200px;
        height: 200px;
    }
    .hero-image .circle {
        width: 100%;
        height: 100%;
    }
    .hero-image .mic {
        width: 30%;
        height: auto;
    }
    
    .hero-section {
        font-size: 3rem;
    }
    .hero-image .new {
        top: 4px;
        right: 0;
    }
    
    /* podcast section */
    .podcast-number {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 40px;
    }

    /* choose section */
    .choose-section {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .choose-section h1 {
        font-size: 2rem;
        font-weight: 700;
    }
    .choose-items {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        padding: 40px 20px;
        height: fit-content;
    }
    .choose-items [class^="item-"] {
        grid-row: auto;
        grid-column: auto;
    }

    /* feature section styles */
    .feature-section h1 {
        font-size: 2rem;
    }
    .feature-card-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .feature-card {
        height: fit-content;
    }
    .feature-card iframe {
        height: 225px;
    }
    .card-details h3 {
        font-size: 1.25rem;
    }
    /* host card styles */
    .host-section {
        padding: 20px;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .host-section h1 {
        font-size: 2rem;
    }
    .host-card {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .host-info h2 {
        font-size: 1.5rem;
    }
    .host-info {
        align-items: center;
        text-align: center;
    }

    /* footer styles */
    footer {
        height: 248px;
        background-size: cover;
        background-position: center;
    }
    .footer-content {
        gap: 18px;
    }
    .footer-content h1 {
        font-size: 2rem;
    }
    .footer-content ul {
        max-width: 260px;
        gap: 18px;
    }
}

@media screen and (max-width: 380px) {
    .hero-image {
        width: 180px;
        height: 180px;
    }
    .hero-text h1 {
        font-size: 2.75rem;
    }
    .hero-btn {
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
    .podcast-text {
        padding: 20px;
    }
    .podcast-text h1 {
        font-size: 2.5rem;
        line-height: normal;
    }
    .podcast-number {
        padding: 20px;
    }
    .podcast-number div {
        gap: 8px;
    }
    .podcast-number h1 {
        font-size: 1.6rem;
    }
    .podcast-number p {
        font-size: 0.6rem;
    }

    .choose-items [class^="item-"] {
        padding: 20px;
        height: auto;
    }

    .feature-section {
        padding: 20px;
    }

    .footer-content p {
        max-width: 230px;
        text-align: center;
    }
}