@media screen and (max-width: 576px) {
    header {
        padding: 20px;
        height: 90px;
    }
    header .logo {
        font-size: 2rem;
    }
    .desk-item {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    /* hero styles */
    .hero-section {
        height: auto;
        background-position: center 20%;
        background-size: contain;
        padding: 20px;
        gap: 24px;
    }
    .hero-image {
        width: 200px;
        height: 200px;
    }
    .hero-image .circle {
        width: 100%;
        height: 100%;
    }
    .hero-image .mic {
        width: 30%;
        height: auto;
    }
    
    .hero-section {
        font-size: 3rem;
    }
    .hero-image .new {
        top: 4px;
        right: 0;
    }
    
    /* podcast section */
    .podcast-number {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 40px;
    }
}