@media screen and (max-width: 576px) {
    header {
        padding: 20px;
        height: 90px;
    }
    header .logo {
        font-size: 2rem;
    }
    .desk-item {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}