/* remove default margin and padding... */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inter font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* css variables */
:root {
  --small-font-color: rgba(255, 255, 255, 0.6);
}

/* common styles */
.flex {
  display: flex;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.btn-1 {
  width: fit-content;
  border: none;
  border-radius: 20px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(200deg, #9100F8,#FB09B4,#F7E93F);
  gap: 8px;
  justify-content: center;
  align-items: center;
  animation: gradient 5s linear infinite ;
}
@keyframes gradient {
  0% {
    background: linear-gradient(0deg, #9100F8,#FB09B4,#F7E93F);
  }
  25% {
    background: linear-gradient(90deg, #9100F8,#FB09B4,#F7E93F);
  }
  50% {
    background: linear-gradient(180deg, #9100F8,#FB09B4,#F7E93F);
  }
  75% {
    background: linear-gradient(270deg, #9100F8,#FB09B4,#F7E93F);
  }
  100% {
    background: linear-gradient(360deg, #9100F8,#FB09B4,#F7E93F);
  }

}
.btn-2 {
  width: fit-content;
  border: 1px solid #00FF88;
  border-radius: 20px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  background: transparent;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
body [class^="btn-"]:hover {
  cursor: pointer;
}
.logo span {
  background: linear-gradient(to bottom, #9100F8,#FB09B4,#F7E93F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* body style */
body {
  background-color: #1A0B2E;
  color: white;
}

/* header styles */
header {
  height: 120px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #412567;
}
header .logo {
  font-size: 3rem;
}

header ul {
  list-style: none;
  gap: 32px;
}
header ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
header button:hover {
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  padding: 0 4px;
}
.hamburger-menu img {
  width: 24px;
  height: 24px;
}

/* hero section styles */
.hero-section {
  max-width: 1600px;
  height: 760px;
  margin: 0 auto;
  background: url('../assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.hero-image {
  position: relative;
  width: 350px;
  height: 350px;
}
.hero-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.circle {
  animation: rotate 5s linear infinite;
  transform-style: preserve-3d;
  perspective: 800px;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hero-image .new {
  position: absolute;
  top: 12px;
  right: 24px;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 16px;
  background-color: #00FF88;
  color: #1A0B2E;
  border-radius: 20px;
  width: fit-content;
  text-transform: uppercase;
  z-index: 2;
}
.hero-text {
  text-align: center;
}
.hero-text h1 {
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 8px;
}
.hero-text p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--small-font-color);
}
.hero-btn {
  gap: 8px;

}

/* podcast styles */
.podcast-section, 
.podcast-text {
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.podcast-text {
  line-height: 24px;
  text-align: center;
  padding: 40px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}
.podcast-text h1 {
  font-size: 3rem;
  line-height: 58px;
  font-weight: 700;
}
.podcast-text p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--small-font-color);
}
.podcast-number {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.podcast-number div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.podcast-number h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #00FF88;
}
.podcast-number p {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--small-font-color);
}


/* choose section styles */
.choose-section {
  margin-top: 100px;
  margin-bottom: 100px;

}
.choose-section h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.choose-items {
  height: 800px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 40px 20px;
}
.choose-items [class^="item-"] {
  border-radius: 40px;
  background-color: #2a0e4a;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.choose-items img {
  width: 60px;
  height: 60px;
}
.choose-items h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.choose-items p {
  line-height: 24px;
  color: var(--small-font-color);
}
.item-1 {
  grid-row: span 2;
}
.item-2 {
  grid-column: span 2;
}
.item-3 {
  grid-column: span 2;
}
.item-4 {
  grid-column: span 2;
}
.item-5 {
  
}

/* feature section styles */
.feature-section {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
}
.feature-section h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.feature-card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.feature-card iframe {
  width: 100%;
  height: 250px;
  border-radius: 24px 24px 0 0;
}
.feature-card {
  background-color: #250D44;
  border-radius: 24px;
  height: auto;
}
.feature-card .card-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}
.card-details h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.card-details p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--small-font-color);
}
.duration {
  display: flex;
  align-items: center;
  gap: 8px;
}
.duration span {
  color: #00FF88;
  font-size: 1rem;
  font-weight: 600;
}

/* host section styles */
.host-section {
  margin-top: 60px;
  margin-bottom: 120px;

}
.host-section h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.host-card {
  background-color: #250D44;
  padding: 40px;
  gap: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
.host-info {
  flex-direction: column;
  gap: 16px;
}
.host-info h2 {
  font-size: 2rem;
  font-weight: 700;
}
.host-info p {
  font-size: 1rem;
  line-height: 24px;
  color: var(--small-font-color);
}
.host-info ul {
  list-style: none;
  align-items: center;
  gap: 8px;
}
.host-info ul li {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.host-info ul li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer styles */
footer {
  max-width: 1660px;
  height: 412px;
  margin: 0 auto;
  background: url('../assets/footer-bg.png'), #201043;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top 20px;
  justify-content: center;
}
.footer-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer-content h1 {
  font-size: 5rem;
}
.footer-content ul {
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.footer-content ul li a {
  text-decoration: none;
  color: var(--small-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 500;
  min-width: 87px;
}
.footer-content p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--small-font-color);
}
