/* remove default margin and padding... */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inter font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* common styles */
.flex {
  display: flex;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.btn-1 {
  width: fit-content;
  border: none;
  border-radius: 20px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(200deg, #9100F8,#FB09B4,#F7E93F);
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.btn-2 {
  width: fit-content;
  border: 1px solid #00FF88;
  border-radius: 20px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  background: transparent;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1A0B2E;
  color: white;
}

/* header styles */
header {
  height: 120px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #412567;
}
header .logo {
  font-size: 3rem;
}
header .logo span {
  background: linear-gradient(to bottom, #9100F8,#FB09B4,#F7E93F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header ul {
  list-style: none;
  gap: 32px;
}
header ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
header button {

}

.hamburger-menu {
  display: none;
  padding: 0 4px;
}
.hamburger-menu img {
  width: 24px;
  height: 24px;
}

/* hero section styles */
.hero-section {
  max-width: 1600px;
  height: 760px;
  margin: 0 auto;
  background: url('../assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.hero-image {
  position: relative;
  width: 350px;
  height: 350px;
}
.hero-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.hero-image .new {
  position: absolute;
  top: 12px;
  right: 24px;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 16px;
  background-color: #00FF88;
  color: #1A0B2E;
  border-radius: 20px;
  width: fit-content;
  text-transform: uppercase;
  z-index: 2;
}
.hero-text {
  text-align: center;
}
.hero-text h1 {
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 8px;
}
.hero-text p {
  font-size: 1rem;
  font-weight: 400;
}
.hero-btn {
  gap: 8px;

}