/* remove default margin and padding... */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inter font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* common styles */
.flex {
  display: flex;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  background-color: #1A0B2E;
  color: white;
}

/* header styles */
header {
  height: 120px;
  padding: 24px 200px;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 3rem;
}
header .logo span {
  background: linear-gradient(to bottom, #9100F8,#FB09B4,#F7E93F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header ul {
  list-style: none;
  gap: 32px;
}
header ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
header button {
  border: none;
  border-radius: 20px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(200deg, #9100F8,#FB09B4,#F7E93F);
}

.hamburger-menu {
  display: none;
  padding: 0 4px;
}
.hamburger-menu img {
  width: 24px;
  height: 24px;
}